/* FF8F8F
EEF296
9ADE7B 
508D69*/
body{
    background: #2B2A4C;
}

canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#message{
    position: absolute;
    top:50%;
    left: 50%;
    color: white;
}