/* --cardinal: #c41e3dff;
--burgundy: #7d1128ff;
--folly: #ff2c55ff;
--chocolate-cosmos: #3c0919ff;
--amaranth: #e2294fff; */
body{
    background-color: #3c0919ff;
}
div{
    /* Used for testing */
    /* margin: auto; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid black;
}
h1{
    display: inline;
    text-align: center;
}
.center{
    text-align: center;
}
/* --light-yellow: #faf8d4ff;
--almond: #ebdccbff;
--dun: #c3baaaff;
--taupe-gray: #91818aff;
--rose-quartz: #b2a3b5ff; */
#mainSec{
    background-color: #faf8d4ff;
    width: 100%;
    height:100%;
    border: 1px solid #91818aff;
}
#infoBox{
    background-color: #ebdccbff;
    width: 600px;
    /* height: 100%; */
    height: 500px;
    margin: auto;
    border: 1px solid #c3baaaff;
}
#playerHealth{
    display: flex;
    height: 300px;
    width: 300px;
    background-color: #e2294fff;
    vertical-align: middle;
    text-align: center;
}